@(title: String)

@main(title) {

<div id="container">

    <div id="menu" style="background-color:#FFD700;height:200px;width:100px;float:left;">
        Left Panel
    </div>

    <div id="content" style="background-color:#EEEEEE;height:200px;width:400px;float:left;">
        Centre Panel
    </div>

    <div id="control" style="background-color:#EED7EE;height:200px;width:400px;float:left;">
        Right Panel
    </div>

    <div id="footer" style="background-color:#FFA500;clear:both;text-align:left;">
        Bottom Panel
    </div>

</div>

}
