@(title: String, names: List[String], spaceship: model.Spaceship, taskForm: Form[(String,String)])

@main(title) {

<div id="container">

    <div id="menu">
        <h3>@spaceship.name</h3>
        <ul class="menu__list">
            <li>Distance travelled: @spaceship.distanceTravelled</li>
            <li>Fuel remaining: @spaceship.fuelRemaining</li>
        </ul>
    </div>

    <div id="content">
        Centre Panel - content
        <div class="content__add-fuel">
            @helper.form(action = routes.Application.newTask) {
            @helper.inputText(taskForm("task"))
            @helper.inputText(taskForm("value"))
            <button type="submit" value="Add Fuel">Add Fuel</button>
            }
        </div>
    </div>

    <div id="crew">
        <h2>Crew Members</h2>
        <ul id="members">
            @for(name <- names) {
            <li>@name - cadet</li>
            }
        </ul>
    </div>

    <div id="footer">
        <h3>@spaceship.name Feed</h3>
    </div>

</div>

}
