@(title: String, spaceship: model.Spaceship, taskForm: Form[(String,String)])(implicit flash: Flash)

@main(title) {

<div id="container">

    <div id="menu">
        <h3>@spaceship.name</h3>
        <ul class="menu__list">
            <li>Distance travelled: @spaceship.distanceTravelled</li>
            <li>Fuel remaining: @spaceship.fuelRemaining</li>
        </ul>
    </div>

    <div id="content">
        Centre Panel - content
        <div class="content__add-fuel">
            @helper.form(action = routes.Application.newTask) {
            @helper.inputText(taskForm("task"))
            @helper.inputText(taskForm("value"))
            <button type="submit" value="Submit Task">Submit Task</button>
            }
        </div>
    </div>

    <div id="crew">
        <h2>Crew Members</h2>
        <ul id="members">
            @for(person <- spaceship.crew) {
            <li>@person.name - @person.rank</li>
            }
        </ul>
    </div>

    <div class="footer">
        <h3>@spaceship.name Feed</h3>
        @flash.get("shipInfo").map { infoMessage =>

        <p class="footer__alert-message">
            <strong>Info: </strong> @infoMessage
        </p>

        }
    </div>

</div>

}
