@(title: String, loginForm: Form[(String,String)])

@main(title) {

<div id="menu">
    <a href="@routes.Application.reflect">Request-and-Reflect</a>

    @helper.form(action = routes.Application.login, 'id -> "hiForm") {

        @helper.inputText(loginForm("name"))

        @helper.inputText(loginForm("password"))

        <button type="submit" value="Log In">Log in </button>
    }
</div>

<!--A mess of content Lists and Div and Span-->
<h3>Lists</h3>
<div>
    <div>
        <b>Menu</b><br />
        I am the menu
    </div>
    <div id="content">

        <h4>Reminders List</h4>
        <ul>
            <li>Recycle the bins and people</li>
            <li>Find <span>Mugabe hideout</span></li>
        </ul>
    </div>
</div>

    
}
