@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>

    <body>
        <header class="banner">
            @title
        </header>

        <div class="siteNavigation">
            <a href="@routes.Application.index">Space Mish Home</a>
            <a href="@routes.Application.dashboard">Dashboard</a>
            <a href="@routes.Application.index">About</a>
        </div>

        <section>
            @content
        </section>
    </body>
</html>
