@(title: String)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/xmas.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <link href='http://fonts.googleapis.com/css?family=Lily+Script+One' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Limelight' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <header class="banner">
            An invitation to <br/>something amazing!
        </header>

        <h2 class="invite">
            <p class="dear">dear,</p>
            <p>You are the lucky individual given the opportunity to witness Punchdrunk's performance of <span class="theatre">'The Drowned Man: A Hollywood Fable'</span></p>
            <p></p>
        </h2>

        <div class="splitter"> </div>

        <div class="details">
            <div class="details__date">
                <div class="details__item">
                    A chilly day in January
                </div>
            </div>
            <div class="details__time">
                <div class="details__item">
                    <strong class="at">Time:</strong> <br/>7.10pm, no <span class="diva">diva</span> delays
                </div>
            </div>
            <div class="details__location">
                <div class="details__item">
                    <strong class="at">At:</strong> <br/>Temple Pictures
                </div>
            </div>
        </div>

        <div class="splitter"></div>

        <div class="hype">
            The event of the year! &nbsp;&nbsp;&nbsp;&nbsp; No refunds
        </div>

        <div class="twelve-point-star">
        </div>
        <div class="award">
            Bestest present ever
        </div>
    </body>
</html>
