@(title: String)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/xmas.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>

    <body>
        <header class="banner">
            Xmas invite
        </header>
        <h2 class="invite">
            An invitation to something really special!
        </h2>
        <div class="details">
            <div class="details__date">
                <div class="details__item">
                    A day in chilly January
                </div>
            </div>
            <div class="details__time">
                <div class="details__item">
                    7.10pm
                </div>
            </div>
            <div class="details__location">
                <div class="details__item">
                    At: Temple Pictures
                </div>
            </div>
        </div>
        <div class="hype">
            The event of the year!
        </div>
    </body>
</html>
