body {
    background: #F890DA;
    padding: 20px 10px 0 10px;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)),
                                                               color-stop(.25, transparent),
                                                               color-stop(.5, transparent),
                                                               color-stop(.5, rgba(255, 255, 255, .2)),
                                                               color-stop(.75, rgba(255, 255, 255, .2)),
                                                               color-stop(.75, transparent),to(transparent));
    background-size: 150px 150px;
}

.banner {
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
    color: #B93556;
    text-align: center;
    font-weight: bold;
    -webkit-transform: rotate(-0.05turn);
    font-family: 'Lily Script One', cursive;
    float:right;
    width: 70%;
    margin-top: 50px;
    margin-bottom: 45px;
}

.at {
    font-family: 'Lily Script One', cursive;
    color: #34875C;
    font-size: 28px;
    font-weight: lighter;
}

.dear{
    text-align: left;
    color: #B5070A;
}

.invite {
    clear: both;
    font-size: 26px;
    text-align: justify;
    font-weight: bold;
    font-family: 'Bree Serif', serif;
    padding: 10px;
    color: #077DB5;
}

.diva {
    color: #077DB5;
    font-weight: bold;
}

.hype {
    clear: both;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    font-family: 'Bree Serif', serif;
    padding: 10px;
    color: #B5070A;
    margin: 20px;
}

.details {
    width: 100%;
}

.details__date, .details__time, .details__location {
    float: left;
    width: 33%;
    height: 100px;
    box-sizing: border-box;
    text-align: center;
    color: #B5070A;
    font-family: 'Bree Serif', serif;
    font-size: 22px;
    margin-bottom: 30px;
}

.details__date .details__item{
    position: relative;
    top: 15%;
    font-family: 'Limelight', cursive;
    font-size: 28px;
}

.theatre {
    font-family: 'Limelight', cursive;
    color: #B5070A;
    margin-top: 20px;
    margin-bottom: 0;
}

.time {
    font-family: 'Limelight', cursive;
    color: #B5070A;
}

.details__location {
    font-family: 'Limelight', cursive;
    font-size: 26px;
}

.details__time {
    border-right: solid #B5070A 2px;
    border-left: solid #B5070A 2px;
}

.splitter {
    border-top: 20px solid #D66089;
    border-left: 20px solid transparent;
    width: 70%;
    border-right: 20px solid transparent;
    margin: 30px auto 30px auto;
    clear:both;
}

.twelve-point-star {
   height: 120px;
   width: 120px;
   background: orange;
   position: absolute;
   left:  80px;
   top: 50px;
}

.twelve-point-star:before {
   height: 120px;
   width: 120px;
   background: orange;
   content:"";
   position: absolute;
   -webkit-transform: rotate(30deg);
}

.twelve-point-star:after {
   height: 120px;
   width: 120px;
   background: orange;
   content:"";
   position: absolute;
   -webkit-transform: rotate(-30deg);
}

.award {
   position: absolute;
   top: 65px;
   left: 105px;
   font-family: 'Bree Serif', serif;
   font-size: 20px;
   width: 60px;
   text-align: center;
   font-weight: bold;
   color: #B5070A;
}
