@(title: String, matches: List[pa.MatchDay], events: List[model.Event], content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/videprinter.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>

    <body class="console">
        <div>
            @content
        </div>
            <div>Current Matches:</div>
            @matches.map { aMatch =>
                <div>
                    @aMatch.homeTeam.name - @aMatch.awayTeam.name
                </div>
            }
            @**events.map { event =>
                <div>
                    @event.toString()
                </div>
            }*@
    </body>
</html>
